@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightslategray;
  color: rgb(233, 233, 233);
}

.search-result {
  margin: 10px 0px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 0.33fr 0.33fr 0.34fr;
  border: solid;
  border-radius: 12px;
}

#song-artwork-search {
  grid-column: 1;
  grid-row: 1;
  margin: 4px;
}

#song-title-search {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#song-album-search {
  grid-row: 2 / span 2;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#song-artist-search {
  grid-column: 2;
  grid-row: 2 / span 2;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

#song-checkbox-search {
  grid-column: 3;
  grid-row: 1;
  max-height: 22px;
}

#playlist-song, #playlist-titles {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr;
  grid-template-rows: 1fr;
  border: solid;
}

#remove-song-playlist {
  max-height: 20px;

}

#playlist-container {
  margin: 10px;
  border: solid;
  border-radius: 12px
}

#playlists {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#list-of-playlists {
  border-style: none solid none none;
}

.edit-pencil {
  max-height: 15px;
  float: right
}

.playlist-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px
}

li:active {
  background-color: rgb(233, 233, 233);
  color: lightslategray;
}

#search-container {
  min-height: 525px;
  min-width: 400px;
  margin-right: 5px;
}

#playlist-container {
  margin-left: 5px;
  display: flex;
  flex-direction: horizontal;
}

#main-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
}

#playlist-song-list {
  flex-grow: 1;
}

input, select, ::placeholder {
  color: rgb(233, 233, 233);
  background-color: lightslategray;
}

button, input, select {
  border: solid;
  border-radius: 12px;
  font-family: 'Dosis', sans-serif;
}

button, select {
  cursor: pointer
}

button {
  color: lightslategray;
  background-color: rgb(233, 233, 233);
}

.column-1 {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.column-2, .column-3, .column-4{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#playlist-heading {
  margin: 0
}

@media screen and (max-width: 900px) {
  main {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1100px;
    grid-template-columns: 1fr
  }

  #dropdown {
    grid-row: 1
  }

  #add-to-playlist {
    grid-row: 2
  }

  #main-container {
    grid-template-rows: 600px 1fr;
    grid-template-columns: 1fr;
  }
}